
.cup {
 height: 140px;
 width: 180px;
 border: 8px  transparent;
 position: absolute; 
 top: 40%;
 left: 40%;
 border-radius: 0px 0px 70px 70px;   /*arredonda a borda */
 background:url(/assets/coffee.png);
 box-shadow: 0px 0px 0px 6px rgb(69, 71, 82);  
 background-repeat: repeat-x;
 background-position: 0px 140px;
 animation: fill 5s infinite;
}

@keyframes fill {   /* animação */
 0% {
  background-position: 0px 140px 
 }
 20%{
  background-position: -450px 100px; 
 }
 40% {
  background-position: -900px 50px;   /* aumentou o volume*/
 }
 80% {
  background-position: -1350px -40px;
 }
 100% {
  background-position: 0px 140px;
 }
}
.handle {
 height: 70px;
 width: 40px;
 background-color: transparent;
 border: 6px solid rgb(72, 74, 85);
 position: relative;
 left: 186px;
 top: 5px;
 border-radius: 0px 25px 80px 0px;
}



/* créditos do vídeo que aprendi a como fazer esse café: https://www.youtube.com/watch?v=TzjRcwKuXQs*/